@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .website-config {
        @apply
        max-w-7xl
        mx-auto
        px-4
        sm:px-6
        lg:px-8
        pt-8
    }

    .contact-title {
        @apply
        mt-8
        text-white
        text-center
        text-3xl
        font-bold
        sm:text-4xl
    }

    .contact-card-body {
        @apply
        bg-gray-800/50
        ring-1
        ring-inset
        ring-gray-500/20
        relative z-0
        rounded-lg
        hover:scale-110
        transition-transform
        ease-in-out
        duration-200
        shadow-md
        m-6
        overflow-hidden
        w-96
        justify-end
    }

    .contact-card-desc {
        @apply
        text-white
        font-semibold
        text-center
        mx-2
        mb-2
        pt-2
    }
}