@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .website-config {
        @apply
        max-w-7xl
        mx-auto
        px-4
        sm:px-6
        lg:px-8
        pt-8
        content-center
    }

    .home-about-me-title {
        @apply
        mt-8
        text-white
        text-center
        font-bold
        sm:text-5xl
        mb-5
    }

    .home-about-me-content {
        @apply
        mt-2
        text-white
        text-center
        font-bold
        sm:text-2xl
        mb-5
    }
}