@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .website-config {
        @apply
        max-w-7xl
        mx-auto
        px-4
        sm:px-6
        lg:px-8
        pt-8
        content-center
    }

    .home-about-me-title {
        @apply
        mt-8
        text-white
        text-center
        font-bold
        sm:text-5xl
        mb-5
    }

    .home-about-me-content {
        @apply
        mt-2
        text-white
        text-center
        font-bold
        sm:text-xl
        mb-5
    }

    .fiverr-card-wrapper {
        @apply
        grid
        place-items-center
        justify-items-center
        /* grid-cols-1
        sm:grid-cols-1
        md:grid-cols-2 
        lg:grid-cols-3  */
        md:gap-x-10
        lg:gap-x-20
    }

    .fiverr-card-body {
        @apply
        bg-gray-800/50
        ring-1
        ring-inset
        ring-gray-500/20
        relative z-0
        rounded-lg
        flex
        flex-col
        shadow-md
        m-6
        overflow-hidden
        w-96
    }

    .fiverr-card-title {
        @apply
        text-white
        text-2xl
        font-bold
        py-3
        w-full
        text-center
    }

    .fiverr-card-img {
        @apply
        rounded-lg
        w-96
        h-64
    }

    .fiverr-card-desc {
        @apply
        text-white
        font-semibold
        text-center
        mx-2
        mb-2
    }

    .fiverr-gig-button-hover-effect {
        @apply
        [transform:translateZ(0)]
        mt-2
        mx-24
        mb-4
        px-4
        py-2
        rounded-lg
        overflow-hidden
        bg-gray-200
        relative
        before:absolute
        before:bg-emerald-600
        before:top-1/2 
        before:left-1/2
        before:h-8
        before:w-10
        before:-translate-y-1/2
        before:-translate-x-1/2
        before:rounded-full
        before:scale-[0]
        before:opacity-0
        hover:before:scale-[6]
        hover:before:opacity-100
        before:transition
        before:ease-in-out
        before:duration-500
        hover:scale-110
        transition-transform
        ease-in-out
        duration-200
    }

    .fiverr-gig-button-text-hover-effect {
        @apply
        relative
        z-0
        text-emerald-600
        group-hover:text-gray-400
        transition
        ease-in-out
        duration-500
        text-lg
    }
}