@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .navbar-setup-centered {
        @apply
        max-w-7xl
        mx-auto
        px-4
        sm:px-14
        md:px-16
        lg:px-0
        pt-2
    }

    .navbar-setup-right {
        @apply
        flex
        items-center
        justify-between
        h-16
    }

    .navbar-setup-left {
        @apply
        tracking-wide
        font-medium
        text-lg
        text-white
    }

    .navbar-button-spacing {
        @apply
        ml-10
        flex
        items-baseline
        space-x-6
    }

    .navbar-button-hover-effect {
        @apply
        [transform:translateZ(0)]
        px-4
        py-2
        rounded-lg
        overflow-hidden
        bg-gray-200
        relative
        before:absolute
        before:bg-slate-500
        before:top-1/2
        before:left-1/2
        before:h-8
        before:w-8
        before:-translate-y-1/2
        before:-translate-x-1/2
        before:rounded-full
        before:scale-[0]
        before:opacity-0
        hover:before:scale-[6]
        hover:before:opacity-100
        before:transition
        before:ease-in-out
        before:duration-500
    }

    .navbar-button-text-hover-effect {
        @apply
        relative z-0
        text-black
        group-hover:text-gray-400
        transition
        ease-in-out
        duration-500
        text-lg
    }
}