@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    
    .website-config {
        @apply
        max-w-7xl
        mx-auto
        px-4
        sm:px-6
        lg:px-8
        pt-8
    }

    .project-title {
        @apply
        mt-8
        text-white
        text-center
        text-3xl
        font-semibold
        sm:text-4xl
    }

    .card-wrapper {
        @apply
        mt-6
        grid
        grid-cols-1
        sm:grid-cols-1
        md:grid-cols-2 
        lg:grid-cols-3 
        md:gap-x-10
        lg:gap-x-20
        justify-center
    }

    .card-body {
        @apply
        bg-gray-800/50
        ring-1
        ring-inset
        ring-gray-500/20
        relative z-0
        rounded-lg
        hover:scale-110
        transition-transform
        ease-in-out
        duration-200
        flex
        flex-col
        shadow-md
        m-6
        overflow-hidden
        sm:w-5/6
        md:w-96
        lg:w-96
    }

    .card-title {
        @apply
        text-white
        text-2xl
        font-semibold
        py-3
        w-full
        text-center
    }

    .card-img {
        @apply
        rounded-lg
        w-full
        h-64
    }

    .card-desc {
        @apply
        text-white
        font-semibold
        text-center
        mx-2
        mb-2
    }

}